@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #000000;
    --color-secondary: #1a1a1a;
    --color-accent: #d4af37;
    --color-text: #ffffff;
    --color-muted: #888888;
    --color-background: #ffffff;
    --font-family-base: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-base);
    color: var(--color-text);
    background-color: var(--color-background);
}